body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  display: flex;
  flex-direction: column;
}

.input-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input {
  display: flex;
  gap: 10px;
}

.input-file {
  cursor: pointer;
}

.input-file::-webkit-file-upload-button {
  cursor: pointer;
}

.input-images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-image {
  cursor: pointer;
  background-color: rgba(218, 218, 218, 0.6);
  padding: 6px;
  border-radius: 2px;
  text-align: center;
  transition: all 0.4s;
}

.input-image:hover {
  background-color: rgba(186, 185, 185, 1);
}

.input-checkbox {
  cursor: pointer;
}

.input-warning {
  padding: 4px;
  border-radius: 2px;
  background-color: rgb(224, 199, 11);
}

.input-warning-button {
  cursor: pointer;
  margin-top: 4px;
}

.preview-wrapper {
  cursor: pointer;
  position: relative;
  display: inline-block;
  user-select: none;
  opacity: 0;
  visibility: hidden;
}

.preview {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -1;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-wrapper-show {
  opacity: 1;
  visibility: visible;
}

.label {
  background: #00b336;
  color: #f7f7f7;
  position: absolute;
  padding: 2px;
  border-radius: 2px;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.4s;
  border: none;
  outline: none;
  border-radius: 2px;
}

.close:hover {
  opacity: 1;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
